# Ignore files in these folders except the .txt file that allows for pushing to github

# run directory for compiling in C++
total_data/run_dir/*
!total/data/run_dir/run_dir.txt

# image folder
total_data/images/*
!total_data/images/images.txt

# output folder
total_data/output/*
!total_data/output/output.txt

# connections folder
total_data/connections/*
!total_data/connections/connections.txt

# ignore input data
data_set/MNIST/
!data_set/designed_currents/current.dat



# Ignore cache
__pycache__/

# scripts folder -- a place to store files we may want to use
scripts/

# Test scripts
test.py




# Scriptes that are not yet ready to be uploaded!
examples/*
!examples/AL_file_current.py

# Where I store previous experiment data
previous_experiments/

# Any random files
total_data/*npy
total_data/*txt
